.header-color {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-img{
  height: 150px;
  padding-top: 5em;
  border-radius: 150px;
  width: 150px;

}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius:10px ;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
  
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
} 

.sosial-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.sosial-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.project-grid {
  display: flex;
}

/* resume Page  */
.resume-left-col {
 background: whitesmoke;
}
.avatar {
  border-radius: 150px;
}
.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}
/* end resume page */

/* Education */
.description {
  font-style: italic;
}

/* End Education */

/* skill Page */
  .skill-progress {
    display: flex;
    font-family: 'Oxigen' sans-serif;
  }
/* End Skill Page */

/* contact page */
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height:550px ;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton',sans-serif;
}

.contact-grid p {
  font-family: 'Oxigen',sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 2rem;
}

/* end contact Page */